
        *{
            margin:0;
            padding:0;
        }
        .navbar{
            background-color:#e5ebea;
            color:black;
            display:flex;
            justify-content:space-around;
            align-items:center;
            padding:15px;
            font-size:20px;
            position:sticky;
            top:0px;
            z-index:1;
        }
        .navbar ul{
            display:flex;
            list-style:none;
            gap:30px;
        }
        .navbar a{
             text-decoration: none;
             color:black;
        }
