h1{
    color:blueviolet;
    text-align:center

}

.register-form{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:20px;
    margin-top:80px;
}

.register-form div{
    display:flex;
    /* width:300px; */
}

.register-form label{
    width:100px;
    text-align: right;
    margin-right: 10px;
}

